@mixin link-template($fz, $lh, $padding, $bg-color, $radius) {
	font-size: $fz;
	line-height: $lh;
	font-weight: normal;
	padding: $padding;
	background-color: $bg-color;
	border-radius: $radius;
}

@mixin before($bg-image) {
	content: '';
	width: 20;
	height: 20;
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url($bg-image);
}

@mixin hovering-effect {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transform: scale(1.01);
}
