$bg-color: #f6f6f6;
$currency-color: #2959ce;
$placeholder-color: #8d8d8d;
$language-color: #dce6ff;
$main-white: #ffffff;
$signup-color: #7296ec;
$nav-color: #7f7f7f;
$nav-line: #d1d1d1;
$main-bg-color: #808080;
$display: flex;
$news-box-color: #f6f6f6;
$news-title-color: #000000;
$news-text-color: #4a4b4c;
$source-color: #5e5f61;
$source-color-hover: #90dd90;
$box-bottom-border: #d2d2d2;
